<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://i.ytimg.com/vi/GIYZYtHp3dY/maxresdefault.jpg" alt="Photo">
    </div>
    <div class="big-card__title">
        <h1><a href="">Saiu a nova versão do Angular</a> </h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum urna non lacinia iaculis. Donec
            volutpat ultricies ullamcorper. Ut quis purus sed massa gravida condimentum. Sed sit amet convallis tellus.
            Proin dapibus nisl justo, quis ullamcorper nunc volutpat tincidunt. Cras tempus tempor dolor quis
            pellentesque.</p>
    </div>
</div>