.big-card__photo img{
    width: 100%;
}

.container__big-card {
    margin-left: 15px;
    margin-right: 15px ;
    width: 28rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card__title h1 {
    font-size: 1.7rem;
    margin-top: 1rem;
}

.big-card__description p {
    color: #BABABA;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}